.vagrant/
.idea/
.venv/
writeup/
docs/scenarios/
docs/notes.md
temp/
ansible/.venv/
ansible/collections/
ansible/test.yml
*VBoxHeadless*.log
.terraform/
.terraform.lock.hcl
*.tfstate*
tfplan
*.pem
ad/PURPLE
ad/REDLAB
ad/EDRLAB
#ansible/roles/edr
#ansible/edr.yml
