.vagrant/
.idea/
.venv/
.archives/
writeup/
docs/scenarios/
docs/notes.md
temp/
ansible/.venv/
ansible/collections/
ansible/test.yml
*VBoxHeadless*.log
.terraform/
.terraform.lock.hcl
*.tfstate*
tfplan
*.pem
ad/PURPLE
ad/REDLAB
ad/EDRLAB
ad/DEMO
ad/FEDGOAD
ansible/roles/edr
ansible/edr.yml
ansible/private_data_dir/artifacts/
.vscode
ad/MINILAB
ad/*/providers/*/ssh_keys/*id_rsa*
ad/*/providers/*/ssh_keys/*.pub
ad/*/providers/*/extensions/*.rb
__pycache__/
*.pyc
workspace/*
todo.md
next_extensions/
/extensions/exchange/ansible/iso/resources/iso/*.ISO
docs/site/
docs/olddocs/
docs/mkdocs/site/
scripts/archives/
