variable "pm_api_url" {
  default = "https://x.x.x.x:8006/api2/json"
}

variable "pm_user" {
  default = "xxx@pve"
}

variable "pm_password" {
  default = "xxx"
}

variable "pm_node" {
  default = "mynode"
}

variable "pm_pool" {
  default = "mypool"
}