@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ninja Academy<br />
    1 Place of the senin<br />
    <abbr title="Phone">P:</abbr>
    042.000.1337
</address>

<address>
    <strong>Teacher:</strong>   <a href="mailto:teacher@academy.ninja.lan">teacher@academy.ninja.lan</a><br />
    <strong>Hokage:</strong> <a href="mailto:hokage@ninja.hacker">hokage@ninja.hacker</a>
</address>