@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ninja Academy<br />
    1 Place of the senin<br />
    <abbr title="Phone">P:</abbr>
    042.000.1337
</address>

<address>
    <strong>Teacher frank: </strong> <a href="mailto:frank.umino@ninja.hack">frank.umino@ninja.hack</a> / <a href="mailto:frank@academy.ninja.lan">frank@academy.ninja.lan</a><br />
    <strong>Teacher olivia: </strong> <a href="mailto:olivia.davis@ninja.hack">olivia.davis@ninja.hacker</a> / <a href="mailto:olivia@academy.ninja.lan">olivia@academy.ninja.lan</a>
</address>