# Mysql infos
mysql-hostname: localhost
mysql-port: 3306
mysql-database: {{guacamole_db}}
mysql-username: {{guacamole_db_username}}
mysql-password: {{guacamole_db_password}}
mysql-ssl-mode: disabled

# Hostname and port of guacamole proxy
guacd-hostname: localhost
guacd-port:     4822