@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the website of the Ninja Academy of konoha. Use the search form to find our students</p>

<img src="~/Content/academy.png" />
