@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Konoha Village<br />
    Ninja Academy<br />
    1 Place of the senin<br />
    <abbr title="Phone">P:</abbr>
    042.000.1337
</address>

<address>
    <strong>Teacher:</strong>   <a href="mailto:teacher@academy.konoha.fire">teacher@academy.konoha.fire</a><br />
    <strong>Hokage:</strong> <a href="mailto:hokage@village.konoha.fire">hokage@village.konoha.fire</a>
</address>