USE [master]
GO
/****** Object:  Database [academy]    Script Date: 8/26/2023 3:45:18 PM ******/
CREATE DATABASE [academy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'academy', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\academy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'academy_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\academy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [academy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [academy]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/26/2023 3:45:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Team] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Students] ([Id], [Firstname], [LastName], [Team]) VALUES (1, N'Naruto', N'Uzumaki', N'7 (Kakashi)')
INSERT [dbo].[Students] ([Id], [Firstname], [LastName], [Team]) VALUES (2, N'Sasuke', N'Uchiua', N'7 (Kakashi)')
INSERT [dbo].[Students] ([Id], [Firstname], [LastName], [Team]) VALUES (3, N'Sakura', N'Haruno', N'7 (Kakashi)')
GO
USE [master]
GO
